.logo__cursor {
    display: inline-block;
    width: 10px;
    height: 1rem;
    background: #149414;
    margin-left: 5px;
    border-radius: 1px;
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
}

a.read-more,
a.read-more:active,
a.read-more:hover {
    background-color: #149414;
    color: #f7f7f7;
    padding: 10px 10px;
}