.logo__cursor {
    display: inline-block;
    width: 10px;
    height: 1rem;
    background: #149414;
    margin-left: 5px;
    border-radius: 1px;
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
}